*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;

    --cor01: #BEFFC7;
    --cor02: #3E92CC;
    --cor03: #423629;
}

body {
    background: -webkit-gradient(linear, left top, right top, from(rgb(248, 248, 248)), to(var(--cor1)));
    background: -moz-linear-gradient(left, white, --cor1);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=white, EndColorStr=var(--cor1));
}